#contents
  h1 Real-time Tab Sync

  a(href="https://chrome.google.com/webstore/detail/dbfkmjnfngfkpgdndjhfcfflhdggdmab") Install Chrome Extension

  blockquote ──半径3メートル以内の世界でもっと もっとひっついてたいのさ

  #howto
    h2 How to enjoy
    ul
      li Chrome の「1/2」のボタンを押して
      li 好きな Room の名前を入力して Join すると、
      li 同じ Room に Join している他の人たちとタブが同期されます
    img(src="/images/howto.png")

  #footer
    \ Lovingly made by
    a(href="http://twitter.com/kei_s") @kei_s
    \,
    a(href="http://twitter.com/darashi") @darashi
    \ and
    a(href="http://twitter.com/june29") @june29
